@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f3f4f5;
}


.tema {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    padding: 10px;
}

.theme-switch {
    display: flex;
    align-items: center; 
}

.switch-input {
    display: none; 
}

.switch-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #ffffff;
}

.switch-label:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch-input:checked + .switch-label {
    background-color: rgb(58, 58, 58);
    border: 2px solid #ffffff;
}

.switch-input:checked + .switch-label:before {
    transform: translateX(26px);
}

.legenda-tema {
    font-size: 14px;
    text-align: center; 
    margin-top: 5px;
    color: white;
}


/* Tema Escuro */
body.dark-theme {
    background-color: #1a1a1a;
    color: #f3f4f5;
}



body.dark-theme .login-container input,
body.dark-theme .login-container button,
body.dark-theme .botao {
    background-color: #444;
    color: white;
    border-color: white;
}

body.dark-theme .recursos-card {
    background-color: #333;
    color: white;
}

body.dark-theme footer {
    background-color: #333;
}

.dark-theme .section-conteudo {
    background-color: rgb(26, 26, 26);
}

.dark-theme .imagem-principal {
    filter: brightness(0.8);
}

.dark-theme .texto {
    color: #f3f4f5;
}

.dark-theme .carrossel {
    background-color: rgb(26, 26, 26);
}

.dark-theme .recursos {
   background-color: rgb(26, 26, 26);
}

.dark-theme .recursos h2 {
    color: #e3e3e3;
}

.dark-theme .recursos-card {
    background-color: #2d2d2d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.dark-theme .recursos-card h3 {
    color: #f3f4f5;
}

.dark-theme .recursos-card p {
    color: #cccccc;
}

header {
    background-color: rgb(53, 53, 53);
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid black;
}

.logo {
    display: flex;
    left: 20px; 
    height: 80px;
    width: auto ;
}

.botoes-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.legenda {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
}

.legenda span {
    font-size: 15pt;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}


.login-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-container input {
    width: 150px; 
    padding: 10px;
    border-radius: 4px;
    border: 1px groove    #000000;
}

.login-container button {
    background-color: rgba(243,244,245,255);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 2px solid #000;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.582);
}

.login-container button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-color: white;
    animation: pulse-shadow 0.9s infinite;
}

.botao {
    background-color: white;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 2px solid #000;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.582);
}

.botao:hover {
    background-color: rgba(138, 138, 138, 0.2);
    color: white;
    border-color: white;
    animation: pulse-shadow 0.9s infinite;
}
@keyframes pulse-shadow {
    0%, 100% {
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    }
    50% {
        box-shadow: 0 8px 16px rgba(255, 255, 255, 0.4);
    }
}
.conteudo {
    display: flex;
    flex-direction: column;

}
.section-conteudo {
    display: flex;
    align-items: center;
    gap: 20px;

    padding: 20px;
    border-radius: 5px;

    flex-wrap: wrap;
}
.imagem-principal {
    width: 360px;
    height: auto;
}
.texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: 500;
}
.carrossel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 460px;
}
.carrossel section {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recursos {
    background-color: rgba(243,244,245,255);

    text-align: center;
}
.recursos h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
.recursos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.recursos-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.recursos-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}
.recursos-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}
.recursos-card p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}


@media (max-width: 450px) {

    .logo {
        display: none; 
    }

    .botao {
        font-size: 11pt;
        padding: 8px 10px;
        text-align: center;
        text-wrap: nowrap;
    }

    .login-container {
        display: flex;
        flex-direction: row;
        width: 100%; 
        justify-content: space-between; 
    }

    .login-container input {
        padding: 8px;
    }

    .login-container button {
        background-color: #f3f4f5;
        color: #363d69;
        font-weight: 700;
        border: 2px solid #000;
        cursor: pointer;
        transition: background-color 0.3s;
        padding: 8px;
        border-radius: 4px;
        font-size: 11pt;
    }
    .legenda span {
        font-size: 14pt;
        color: white;
        text-align: center;
        width: 100%; 
    }
 
    .section-conteudo {
        flex-direction: column;
        text-align: center;
    }

    .imagem-principal {
        width: 80%;
    }

    .botoes-container {
        flex-direction: column;
        align-items: center; 
        width: 100%; 
    }

    header {
        flex-direction: column; 
        align-items: center; 
        padding: 10px; 
    }

    .carrossel {
        height: auto;
        padding: 5px;
    }

    .recursos {
        padding-bottom: 5px;
    }
    
    .tema {
        display: flex;
        flex-direction: row; 
        
 
    }
    
 

}

